{% extends 'base.html' %}
{% load static %}
{%  load crispy_forms_tags %}
{% block title %}
<title>User Profile | Haate Jai</title>
{% endblock %} 

{% block navbar %}

  {% include 'navbar.html' %}

{% endblock navbar %}


{% block content %} 



<!-- Header -->







<section class="bg-light py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 display-5 text-center">{{data.user.username}}'s Profile</h2>
        <p class="text-secondary text-center lead fs-4 mb-5">All of your order details are here.</p>
        
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row gy-4 gy-lg-0">
      <div class="col-12 col-lg-4 col-xl-3">
        <div class="row gy-4">
          <div class="col-12">
            <div class="card widget-card border-light shadow-sm">
              <div class="card-header text-bg-primary">Welcome, {{data.user.username}}</div>
              <div class="card-body">
                <div class="text-center mb-3">
                  <img src="{{data.image}}" class="img-fluid rounded-circle"  alt="{{data.user.username}}" />
                </div>
                <h5 class="text-center mb-1">{{data.user.first_name}} {{data.user.last_name}}</h5>
                <p class="text-center text-secondary mb-4">{{data.position}}</p>
                <p class="text-center text-secondary mb-4">Total Points: {{data.points}}</p>
                
                <ul class="list-group list-group-flush mb-4">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h6 class="m-0">Total Orders</h6>
                    <span>{{all}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h6 class="m-0">Pending Orders</h6>
                    <span>{{pending}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h6 class="m-0">Completed Orders</h6>
                    <span>{{complete}}</span>
                  </li>
                </ul>
                {% comment %} <div class="d-grid m-0">
                  <button class="btn btn-outline-primary" type="button">Follow</button>
                </div> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-8 col-xl-9">
        <div class="card widget-card border-light shadow-sm">
          <div class="card-body p-4">
            <ul class="nav nav-tabs" id="profileTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview-tab-pane" type="button" role="tab" aria-controls="overview-tab-pane" aria-selected="true">Overview</button>
              </li>
              {% comment %} <li class="nav-item" role="presentation">
                <button class="nav-link" id="about-tab" data-bs-toggle="tab" data-bs-target="#about-tab-pane" type="button" role="tab" aria-controls="about-tab-pane" aria-selected="false">About</button>
              </li> {% endcomment %}
              {% comment %} <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Profile</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="email-tab" data-bs-toggle="tab" data-bs-target="#email-tab-pane" type="button" role="tab" aria-controls="email-tab-pane" aria-selected="false">Emails</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="password-tab" data-bs-toggle="tab" data-bs-target="#password-tab-pane" type="button" role="tab" aria-controls="password-tab-pane" aria-selected="false">Password</button>
              </li> {% endcomment %}
            </ul>
            <div class="tab-content pt-4" id="profileTabContent">
              <div class="tab-pane fade show active" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
                {% comment %} <a class="dropdown-item" href="{% url 'profile_info' %}">Update data</a> {% endcomment %}

                <h5 class="mb-3">Your all Orders</h5>
                
                {% comment %} <a class="me-3" href="{% url 'add_task' %}"><button type="button" class="btn btn-outline-success">Add a Task</button></a>{% endcomment %}
                {% comment %} <a href="{% url 'add_task_category' %}"><button type="button" class="btn btn-outline-primary">Add a Skill</button></a> {% endcomment %} 
                <br/> <br/>
                
                {% comment %} <div class="btn-group gap-3" role="group" aria-label="Basic mixed styles example">
                  <a href="/profile/?complete=0"><button type="button" class="btn btn-danger">Pending</button></a>
                  <a href="/profile/"><button type="button" class="btn btn-warning">All Tasks</button></a>
                  <a href="/profile/?complete=1"><button type="button" class="btn btn-success">Completed Tasks</button></a>
                </div> {% endcomment %}

                
                <div class="my-3 p-3 row gap-4">
                  <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">Items</th>
                            <th scope="col">Details</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <th scope="row">#000{{ order.id }}</th>
                            <td>
                                <ul>
                                    {% for item in order.order_items.all %}
                                    <li>{{ item.product.name }} (Qty: {{ item.quantity }})</li>
                                    {% empty %}
                                    <li>No items in this order.</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <a class="text-success" href="{% url 'user_order_details' order.id %}">Order Details</a>
                            </td>
                            {% if order.get_status_display|lower == 'pending' %}
                            <td class="text-warning">{{ order.status }}</td>
                            {% else %}
                            <td class="text-success">{{ order.status }}</td>
                            {% endif %}
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">No orders found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                
                  
                  

                </div>

                

                
              </div>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>







{% endblock %}



