{% extends 'base.html' %}
{% load custom_filters %}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block content %}
	
	<!-- Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bread-inner">
						<ul class="bread-list">
							<li><a href="index1.html">Home<i class="ti-arrow-right"></i></a></li>
							<li class="active"><a href="{% url 'checkout' %">Cart</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->
			
	<!-- Shopping Cart -->
	<div class="shopping-cart section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Shopping Summery -->
					<table class="table shopping-summery">
						<thead>
							<tr class="main-hading">
								<th>PRODUCT</th>
								<th>NAME</th>
								<th class="text-center">UNIT PRICE</th>
								<th class="text-center">QUANTITY</th>
								<th class="text-center">TOTAL</th> 
								<th class="text-center"><i class="ti-trash remove-icon"></i></th>
							</tr>
						</thead>
						<tbody>
							{% comment %} {% for cart_item in cart_items.all %}
										<li>
												<a href="{% url 'remove_from_cart' cart_item.product.id %}" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
												<a class="cart-img" href="#"><img src="{{ cart_item.product.image }}" alt="{{ cart_item.product.name }}"></a>
												<h4><a href="#">{{ cart_item.product.name }}</a></h4>
												<p class="quantity">{{ cart_item.quantity }}x - <span class="amount">{{ cart_item.product.price }} ৳</span></p>
										</li>
										{% endfor %} {% endcomment %}
										{% for cart_item in cart_items.all %}
										<tr>
												<td class="image" data-title="No">
														<img src="{{cart_item.product.image}}" alt="{{cart_item.product.name}}">
												</td>
												<td class="product-des" data-title="Description">
														<p class="product-name">
																<a href="#">{{cart_item.product.name}}</a>
														</p>
														<p class="product-des">{{cart_item.product.description}}</p>
												</td>
												<td class="price" data-title="Price">
														<span>{{cart_item.product.price}}৳</span>
												</td>
												<td class="quantity" data-title="Quantity">
														<span>{{cart_item.quantity}}</span>
												</td>
												{% comment %} <td class="qty" data-title="Qty">
														<form method="POST" action="{% url 'update_cart_item_quantity' cart_item.id %}">
																{% csrf_token %}
																<div class="input-group">
																		<div class="button minus">
																				<button type="submit" class="btn btn-primary btn-number" name="action" value="decrease">
																						<i class="ti-minus"></i>
																				</button>
																		</div>
																		<input type="text" name="quantity" class="input-number" value="{{cart_item.quantity}}" min="1" readonly>
																		<div class="button plus">
																				<button type="submit" class="btn btn-primary btn-number" name="action" value="increase">
																						<i class="ti-plus"></i>
																				</button>
																		</div>
																</div>
														</form>
												</td> {% endcomment %}
												<td class="total-amount" data-title="Total">
														<span> {{ cart_item.product.price|mul:cart_item.quantity }}৳</span> <!-- Quantity-based total -->
														
													
												</td>
												<td class="action" data-title="Remove">
														<a href="{% url 'remove_from_cart' cart_item.product.id %}">
																<i class="ti-trash remove-icon"></i>
														</a>
												</td>
										</tr>
										{% endfor %}
										
						</tbody>
					</table>
					<!--/ End Shopping Summery -->
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<!-- Total Amount -->
					<div class="total-amount">
						<div class="row">
							<div class="col-lg-8 col-md-5 col-12">
								<div class="left">
									<div class="coupon">
										<form action="#" target="_blank">
											<input name="Coupon" placeholder="Enter Your Coupon">
											<button class="btn">Apply</button>
										</form>
									</div>
									{% comment %} <div class="checkbox">
										<label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox"> Shipping (+10$)</label>
									</div> {% endcomment %}
								</div>
							</div>
							<div class="col-lg-4 col-md-7 col-12">
								<div class="right">
									<ul>
										<li>Cart Subtotal <span>{{ total|floatformat:2 }} ৳</span></li>
										<li>Shipping <span><del>60</del>  0 ৳</span></li>
										{% comment %} <li>You Save<span>$20.00</span></li> {% endcomment %}
										<li class="last">You Pay <span>{{ total|floatformat:2 }} ৳</span></li>
										<li>Payment: <span class="text-danger">Cash On Delivery</span></li>
								</ul>
								
								<div class="button5">
									<a href="{% url 'place_order' %}" class="btn">Place Order</a>
									<a href="{% url 'home' %}" class="btn">Continue shopping</a>
									{% if not data.address %}
											<!-- If address is empty, show Add address option -->
											<a href="{% url 'add_address' %}" class="btn">Add address</a>
									{% endif %}
							</div>
							
								</div>
							</div>
						</div>
					</div>
					<!--/ End Total Amount -->
				</div>
			</div>
		</div>
	</div>
	<!--/ End Shopping Cart -->
			
	<!-- Start Shop Services Area  -->
	<section class="shop-services section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-rocket"></i>
						<h4>Free shiping</h4>
						<p>Limited time offer</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-reload"></i>
						<h4>Free Return</h4>
						<p>Within 30 days returns</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-lock"></i>
						<h4>Sucure Payment</h4>
						<p>100% secure payment</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-tag"></i>
						<h4>Best Peice</h4>
						<p>Guaranteed price</p>
					</div>
					<!-- End Single Service -->
				</div>
			</div>
		</div>
	</section>
	<!-- End Shop Newsletter -->
	
	<!-- Start Shop Newsletter  -->
	<section class="shop-newsletter section">
		<div class="container">
			<div class="inner-top">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 col-12">
						<!-- Start Newsletter Inner -->
						<div class="inner">
							<h4>Newsletter</h4>
							<p> Subscribe to our newsletter and get <span>10%</span> off your first purchase</p>
							<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
								<input name="EMAIL" placeholder="Your email address" required="" type="email">
								<button class="btn">Subscribe</button>
							</form>
						</div>
						<!-- End Newsletter Inner -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Shop Newsletter -->
	
	
	
{% endblock content%}