{% load static %}
<!-- Header -->
<header class="header shop">
  <!-- Topbar -->
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-12 col-12">
          <!-- Top Left -->
          <div class="top-left">
            <ul class="list-main">
              <li><i class="ti-headphone-alt"></i> +060 (800) 801-582</li>
              <li><i class="ti-email"></i> support@haatejai.com</li>
            </ul>
          </div>
          <!--/ End Top Left -->
        </div>
        <div class="col-lg-7 col-md-12 col-12">
          <!-- Top Right -->
          <div class="right-content">
            <ul class="list-main">
              <li><i class="ti-location-pin"></i> Store location</li>
              <li><i class="ti-alarm-clock"></i> <a href="#">Daily deal</a></li>
              <li><i class="ti-user"></i> <a href="{% url 'profile' %}">My account</a></li>
              {% if request.user.is_authenticated %}
								
								<li><i class="ti-power-off text-danger"></i><a class="text-danger" href="{% url 'logout' %}">Logout</a></li>
								
								{% else %}
								<li><i class="ti-power-off text-success"></i><a class="text-success" href="{% url 'login' %}">Login</a></li>
								{% endif %}
            </ul>
          </div>
          <!-- End Top Right -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Topbar -->
  <div class="middle-inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-12">
          <!-- Logo -->
          <div class="logo">
            <a href="index.html"><img src="{% static 'images/logo_main.png' %}" alt="logo"></a>
          </div>
          <!--/ End Logo -->
          <!-- Search Form -->
          <div class="search-top">
            <div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
            <!-- Search Form -->
            <div class="search-top">
              <form class="search-form">
                <input type="text" placeholder="Search here..." name="search">
                <button value="search" type="submit"><i class="ti-search"></i></button>
              </form>
            </div>
            <!--/ End Search Form -->
          </div>
          <!--/ End Search Form -->
          <div class="mobile-nav"></div>
        </div>
        <div class="col-lg-8 col-md-7 col-12">
          <div class="search-bar-top">
            <div class="search-bar">
              <select>
                <option selected="selected">All Category</option>
                <option>watch</option>
                <option>mobile</option>
                <option>kid’s item</option>
              </select>
              <form>
                <input name="search" placeholder="Search Products Here....." type="search">
                <button class="btnn"><i class="ti-search"></i></button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-12">
          <div class="right-bar">
            <!-- Search Form -->
            <div class="sinlge-bar">
              <a href="#" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
            </div>
            <div class="sinlge-bar">
              <a href="#" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
            </div>
            <div class="sinlge-bar shopping">
              <a href="#" class="single-icon"><i class="ti-bag"></i> <span class="total-count">{{ cart.products.all|length }}</span></a>
								<!-- Shopping Item -->
								<div class="shopping-item">
									<div class="dropdown-cart-header">
										<span>{{ cart.products.all|length }} Items</span>

										<a href="#">View Cart</a>
									</div>
									<ul class="shopping-list">
										{% comment %} <h1>Cart Details</h1>
										<p>Created at: {{ cart.created_at }}</p>
										<p>Username: {{ cart.user.user.username }}</p> {% endcomment %}
										
										{% comment %} <h2>Products:</h2>
										{% for product in cart.products.all %}
										<div class="product-item">
												<h3>{{ product.name }}</h3>
												<img src="{{ product.image.url }}" alt="{{ product.name }}">
												<p>{{ product.description }}</p>
												<p>Price: ${{ product.price }}</p>
										</div>
										{% endfor %} {% endcomment %}
										{% comment %} ff:{{cart_products.quantity}} {% endcomment %}
										{% for product in cart.products.all %}
										<li>
											<a href="{% url 'remove_from_cart' product.id %}" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
											<a class="cart-img" href="#"><img src="{{product.image}}" alt="#"></a>
											<h4><a href="#">{{product.name}}</a></h4>
											{% comment %} <h4><a href="{% url 'product_detail' product.id %}">{{product.name}}</a></h4> {% endcomment %}
											<p class="quantity">1x - <span class="amount">{{product.price}} ৳</span></p>
										</li>
										{% endfor %}
										{% comment %} <li>
											<a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
											<a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
											<h4><a href="#">{{product.description}}</a></h4>
											<p class="quantity">{{product.quantity}}x - <span class="amount">${{product.price}}</span></p>
										</li> {% endcomment %}
									</ul>
									<div class="bottom">
										<div class="total">
											<span>Total</span>
											<span class="total-amount">{{total}} ৳</span>
										</div>
										<a href="{% url 'checkout' %}" class="btn animate">Checkout</a>
									</div>
								</div>
              <!--/ End Shopping Item -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Inner -->
  <div class="header-inner">
    <div class="container">
      <div class="cat-nav-head">
        <div class="row">
          
          <div class="col-lg-9 col-12">
            <div class="menu-area">
              <!-- Main Menu -->
              <nav class="navbar navbar-expand-lg">
                <div class="navbar-collapse">	
                  <div class="nav-inner">	
                    <ul class="nav main-menu menu navbar-nav">
                        <li class="active"><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="#">Product</a></li>												
                        <li><a href="#">Service</a></li>
                        <li><a href="#">Shop<i class="ti-angle-down"></i><span class="new">New</span></a>
                          <ul class="dropdown">
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Pages</a></li>									
                        <li><a href="#">Blog<i class="ti-angle-down"></i></a>
                          <ul class="dropdown">
                            <li><a href="blog-single-sidebar.html">Blog Single Sidebar</a></li>
                          </ul>
                        </li>
                        <li><a href="contact.html">Contact Us</a></li>
                      </ul>
                  </div>
                </div>
              </nav>
              <!--/ End Main Menu -->	
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Header Inner -->
</header>
<!--/ End Header -->